In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Read the CSV file into a pandas DataFrame
correct_form = pd.read_csv("/content/drive/MyDrive/Powerlift Phone/ML Kit Data - Sheet1.csv")

# Extract values from the first column
first_column_values = correct_form.iloc[:, 0]

# Extract text after the last space for each value
processed_values = first_column_values.apply(lambda x: x.split()[-1] if isinstance(x, str) else x)

# Update the DataFrame with the processed values
correct_form.iloc[:, 0] = processed_values

# NOW WITH INCORRECT VALUES
# Read the CSV file into a pandas DataFrame
incorrect_form = pd.read_csv("/content/drive/MyDrive/Powerlift Phone/ML Kit Data - Sheet2.csv")

# Extract values from the first column
incorrect_first_column_values = incorrect_form.iloc[:, 0]

# Extract text after the last space for each value
processed_values = incorrect_first_column_values.apply(lambda x: x.split()[-1] if isinstance(x, str) else x)

# Update the DataFrame with the processed values
incorrect_form.iloc[:, 0] = processed_values

In [ ]:
print("CORRECT FORM: ")
print(correct_form)
print("------------------------------")
print("INCORRECT FORM:")
print(incorrect_form)

CORRECT FORM:
     Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0       628.813 -114.932830  -801.21375   677.38830 -162.767520  -847.98890
1     656.09186  -28.208960  -744.24450   697.78370  -66.806206  -781.80524
2     676.50977  -72.184170  -807.62940   725.82550 -122.222650  -834.91425
3     634.97675  -16.963688  -650.00854   675.44430  -61.463528  -695.31213
4      620.2931    8.236617  -759.06573   641.72797  -34.861050  -785.35030
...         ...         ...         ...         ...         ...         ...
1472  410.17627  233.647430  -506.01870   429.19815  196.178470  -552.02040
1473  406.28674  249.378980  -544.91440   426.41202  210.114650  -587.67320
1474  407.38727  271.065550  -610.98486   429.66580  232.161290  -654.95920
1475  406.09915  286.816930  -506.63245   429.70090  247.695050  -545.76360
1476   408.4959  294.077670  -557.06680   434.60236  255.738830  -589.27295

      Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 89  \
0      685.33746 -162.044860  -850.25220   724.54930  ...    933.24040
1      704.59845  -67.113180  -781.80524   711.37024  ...    996.71460
2      734.39923 -121.295400  -836.47330   773.84955  ...    968.99940
3      686.85535  -62.173770  -696.49400   699.14300  ...    900.55725
4      676.45470  -30.514975  -786.94324   687.06866  ...    910.40100
...          ...         ...         ...         ...  ...          ...
1472   435.60620  196.050640  -551.50640   442.36932  ...    644.53780
1473   434.61572  210.000690  -587.67320   443.43417  ...    539.17850
1474   438.88950  232.250500  -654.44183   448.60495  ...    476.73373
1475   438.54953  247.424180  -545.24536   447.57162  ...    433.81213
1476   445.86100  256.147980  -589.27295   457.51184  ...    352.75867

      Unnamed: 90  Unnamed: 91  Unnamed: 92  Unnamed: 93  Unnamed: 94  \
0       627.06104    1673.7300    1439.4688    606.57630    1871.7423
1       525.07874    1621.3217    1326.6294    621.70260    1791.7255
2       519.12170    1592.4733    1517.8132    538.44630    1814.2228
3       511.89044    1700.5532    1315.7748    540.40340    1849.5298
4       493.28534    1637.1396    1389.8948    521.93270    1816.7892
...           ...          ...          ...          ...          ...
1472    574.92865    1570.1804    1146.1876    418.10144    1661.7705
1473    571.35660    1558.0492    1168.0461    422.35210    1675.2336
1474    591.85516    1520.4106    1293.3633    430.55707    1706.2004
1475    597.21780    1528.1910    1098.7834    423.91220    1727.4814
1476    594.53090    1547.4690    1026.5730    439.23254    1743.1609

      Unnamed: 95  Unnamed: 96  Unnamed: 97  Unnamed: 98
0       776.31720    483.13623    1722.9794   1282.54540
1       808.52374    386.13962    1674.5566   1150.82970
2       729.67290    372.06995    1687.0032   1331.49720
3       735.10060    376.01093    1747.4269   1144.01500
4       743.53394    352.27360    1687.2805   1247.32100
...           ...          ...          ...          ...
1472    463.87190    426.61290    1563.5417   1075.25760
1473    337.37766    437.37994    1544.6404   1111.72970
1474    242.37630    488.00317    1514.4497   1242.66360
1475    234.39848    487.75020    1511.6649   1066.64920
1476    165.93747    472.35858    1525.8630   1004.43115

[1477 rows x 99 columns]
------------------------------
INCORRECT FORM:
     Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0      593.2407   215.53253  -502.53574   617.10000   177.33968  -450.96622
1      600.9477   223.22030  -505.85510   625.20940   187.64178  -459.15530
2      615.5946   256.02737  -531.97125   641.44550   221.25298  -493.02954
3      604.9854   276.92136  -329.62875   627.49400   241.42384  -294.93954
4     590.29156   295.99658  -307.45627   613.51400   260.27850  -275.90646
...         ...         ...         ...         ...         ...         ...
1462  483.82275   476.86996  -783.85890   497.10580   452.40936  -737.78670
1463  481.00543   498.43262  -673.76710   492.90857   471.16278  -617.82930
1464  503.46255   535.21230  -714.09125   508.23270   507.27400  -656.03015
1465  512.50055   606.08460  -584.61743   517.39197   576.49380  -532.62024
1466   551.4101   643.51390  -587.23206   566.13934   621.76276  -534.66790

      Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 89  \
0      634.10280   178.44664  -450.96622   651.62490  ...    523.51917
1      643.93134   188.55238  -458.79886   659.93210  ...    619.57450
2      656.29020   221.76094  -493.72495   673.78220  ...    610.55000
3      644.91590   242.71542  -296.07956   659.40830  ...    529.62090
4      628.41156   261.15674  -276.83438   644.53610  ...    487.16666
...          ...         ...         ...         ...  ...          ...
1462   507.12870   454.55700  -739.04890   517.86400  ...   1044.51420
1463   503.70706   471.63750  -618.14355   513.37460  ...   1128.18270
1464   515.98083   507.91610  -655.43160   525.58040  ...    922.39276
1465   526.20953   578.20140  -532.33910   537.49524  ...    941.00920
1466   575.34750   622.02030  -534.66790   583.22406  ...    960.49080

      Unnamed: 90  Unnamed: 91  Unnamed: 92  Unnamed: 93  Unnamed: 94  \
0       508.17587    1696.3318    817.28740    570.31555    1831.1106
1       517.98690    1699.6475    787.83636    581.67520    1846.9375
2       510.04040    1689.7516    910.95730    595.22260    1846.3629
3       525.76720    1713.2440    827.32910    627.00080    1920.1259
4       526.27970    1732.6499    786.89014    616.07090    1887.1503
...           ...          ...          ...          ...          ...
1462    507.11902    1650.4327    498.27426    781.76350    1616.9335
1463    499.87103    1671.6366    462.27210    853.87256    1592.9980
1464    496.74210    1660.4968    567.74140    889.30570    1588.9270
1465    487.74136    1683.0654    634.64720    889.60260    1609.9833
1466    482.81232    1680.1499    720.50080    896.13410    1614.1652

      Unnamed: 95  Unnamed: 96  Unnamed: 97  Unnamed: 98
0       240.42049    427.64746    1795.8198    565.13040
1       350.78326    446.41034    1803.3949    536.86945
2       380.72452    467.44850    1786.8820    670.70100
3       326.69727    447.61124    1809.8433    605.18800
4       280.08215    465.94623    1833.0175    571.60890
...           ...          ...          ...          ...
1462    869.69210    439.80660    1729.1902    209.84950
1463    954.08435    437.69537    1749.5784    172.84137
1464    731.44965    446.67624    1747.3003    282.97287
1465    803.28687    421.74310    1780.4946    391.52505
1466    830.40770    458.69522    1776.8657    486.08585

[1467 rows x 99 columns]

In [ ]:
import numpy as np
import tensorflow as tf

X = np.asarray(pd.concat([correct_form, incorrect_form], axis=0, ignore_index=True).astype(float))

Y = np.concatenate([np.ones(len(correct_form)), np.zeros(len(incorrect_form))])

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, shuffle= True)

In [ ]:
from tensorflow.keras import models, layers

def build_binary_classification_model(input_size):
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu', input_dim=input_size))
    model.add(layers.Dense(32, activation='relu'))
    model.add(layers.Dense(1, activation='sigmoid'))  # Binary classification requires a sigmoid activation
    model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
    return model

# Model 1
model_1 = build_binary_classification_model(input_size=99)
model_1.fit(x_train, y_train, epochs=10, batch_size=32)

# Model 2 with a different architecture
model_2 = models.Sequential()
model_2.add(layers.Dense(128, activation='relu', input_dim=99))
#model_2.add(layers.Dense(128, activation='relu'))
model_2.add(layers.Dense(64, activation='relu'))
model_2.add(layers.Dense(1, activation='sigmoid'))
model_2.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model_2.fit(x_train, y_train, epochs=10, batch_size=32)

Epoch 1/10
69/69 [==============================] - 2s 3ms/step - loss: 13.2961 - accuracy: 0.7523
Epoch 2/10
69/69 [==============================] - 0s 4ms/step - loss: 2.2759 - accuracy: 0.8451
Epoch 3/10
69/69 [==============================] - 0s 3ms/step - loss: 1.8256 - accuracy: 0.8483
Epoch 4/10
69/69 [==============================] - 0s 3ms/step - loss: 1.0111 - accuracy: 0.8909
Epoch 5/10
69/69 [==============================] - 0s 3ms/step - loss: 1.1599 - accuracy: 0.8845
Epoch 6/10
69/69 [==============================] - 0s 3ms/step - loss: 0.9123 - accuracy: 0.8999
Epoch 7/10
69/69 [==============================] - 0s 3ms/step - loss: 0.7070 - accuracy: 0.9135
Epoch 8/10
69/69 [==============================] - 0s 3ms/step - loss: 0.8556 - accuracy: 0.9049
Epoch 9/10
69/69 [==============================] - 0s 3ms/step - loss: 0.5142 - accuracy: 0.9271
Epoch 10/10
69/69 [==============================] - 0s 3ms/step - loss: 0.9514 - accuracy: 0.9049
Epoch 1/10
69/69 [==============================] - 1s 4ms/step - loss: 19.6938 - accuracy: 0.7994
Epoch 2/10
69/69 [==============================] - 0s 3ms/step - loss: 5.7497 - accuracy: 0.8628
Epoch 3/10
69/69 [==============================] - 0s 3ms/step - loss: 3.0135 - accuracy: 0.8899
Epoch 4/10
69/69 [==============================] - 0s 3ms/step - loss: 2.7482 - accuracy: 0.8918
Epoch 5/10
69/69 [==============================] - 0s 3ms/step - loss: 1.9095 - accuracy: 0.9203
Epoch 6/10
69/69 [==============================] - 0s 4ms/step - loss: 2.2308 - accuracy: 0.9099
Epoch 7/10
69/69 [==============================] - 0s 3ms/step - loss: 3.6753 - accuracy: 0.8922
Epoch 8/10
69/69 [==============================] - 0s 3ms/step - loss: 1.3420 - accuracy: 0.9235
Epoch 9/10
69/69 [==============================] - 0s 3ms/step - loss: 2.0194 - accuracy: 0.9180
Epoch 10/10
69/69 [==============================] - 0s 3ms/step - loss: 0.5399 - accuracy: 0.9565

In [ ]:
loss_1, accuracy_1 = model_1.evaluate(x_test, y_test)
print(f'Model 1 - Test Accuracy: {accuracy_1 * 100:.2f}%')

loss_2, accuracy_2 = model_2.evaluate(x_test, y_test)
print(f'Model 2 - Test Accuracy: {accuracy_2 * 100:.2f}%')

23/23 [==============================] - 0s 2ms/step - loss: 0.5444 - accuracy: 0.9008
Model 1 - Test Accuracy: 90.08%
23/23 [==============================] - 0s 2ms/step - loss: 0.6604 - accuracy: 0.9565
Model 2 - Test Accuracy: 95.65%

In [ ]:
converter_1 = tf.lite.TFLiteConverter.from_keras_model(model_1)
tflite_model_1 = converter_1.convert()
with open('mlkit_model_1.tflite', 'wb') as f:
    f.write(tflite_model_1)

# Convert and save model 2
converter_2 = tf.lite.TFLiteConverter.from_keras_model(model_2)
tflite_model_2 = converter_2.convert()
with open('mlkit_model_2.tflite', 'wb') as f:
    f.write(tflite_model_2)

[   0.         0.       360.4414   137.40208    0.         0.
  480.23563  152.89265    0.         0.       604.53687  470.27496
  335.33374  488.8492   653.7289   837.8279     0.         0.
  589.8475  1138.1897     0.         0.       554.59985 1127.2255
  400.2505  1115.6862   582.7978  1453.4626     0.         0.
    0.         0.       466.42474 1585.9644 ]